  <% if @cat.persisted? %>
    <form action='<%= cat_url(@cat.id) %>' method='post'>
    <input type="hidden" name="_method" value="PATCH">
  <% else %>
    <form action= '<%= cats_url %>' method='post'>
  <% end %>

  <label for='cat_name'>Name:</label>
  <input type='text'
         name='cat[name]'
         id='cat_name'
         value='<%= @cat.name %>'>
  <br><br>

  <label for='cat_sex'>Sex:</label>
  <label for='cat_sex_male'>M</label>
  <input type='radio'
         name='cat[sex]'
         id='cat_sex_male'
         value='M'
         <%= 'checked' if @cat.sex == 'M' %>>

  <label for='cat_sex_female'>F</label>
  <input type='radio'
         name='cat[sex]'
         id='cat_sex_female'
         value='F'
         <%= 'checked' if @cat.sex == 'F' %>>
  <br><br>

  <label for='cat_color'>Color:</label>
  <select name='cat[color]' id='cat_color'>
    <option></option>
    <option value='brown' <%= 'selected' if @cat.color == 'brown' %>>Brown</option>
    <option value='black' <%= 'selected' if @cat.color == 'black' %>>Black</option>
    <option value='grey' <%= 'selected' if @cat.color == 'grey' %>>Grey</option>
    <option value='white' <%= 'selected' if @cat.color == 'white' %>>White</option>
    <option value='red' <%= 'selected' if @cat.color == 'red' %>>Red</option>
    <option value='orange' <%= 'selected' if @cat.color == 'orange' %>>Orange</option>
  </select>
  <br><br>

  <label for='cat_birth_date'>Birthdate:</label>
  <input type='date' name='cat[birth_date]'
         id='cat_birth_date'
         value='<%= @cat.birth_date.to_date if @cat.persisted? %>'>
  <br><br>

  <label for='cat_description'>Describe your fond memories:</label><br>
  <textarea name='cat[description]' id='cat_description'><%= @cat.description %></textarea>

  <br><br>
  <% if @cat.persisted? %>
    <input type='submit' value='Edit your cat'>
  <% else %>
    <input type='submit' value='Create your cat'>
  <% end %>
</form>
