<html>
<body>
  <h2>About <%= @cat.name %></h2>
  <table>
    <tr>
      <th>Name</th>
      <td><%= @cat.name %></td>
    </tr>

    <tr>
      <th>Age</th>
      <td><%= @cat.age %> years old</td>
    </tr>

    <tr>
      <th>Sex</th>
      <td> <%= @cat.sex %> </td>
    </tr>

    <tr>
      <th>Color</th>
      <td> <%= @cat.color %> </td>
    </tr>

    <tr>
      <th>Description</th>
      <td><%= @cat.description %></td>
    </tr>
  </table>

  <h3>Rentals for <%= @cat.name %></h3>
  <ul>
    <% @cat.rental_requests.order({ start_date: :asc }).each do |rental| %>
      <li>
        ID: <%= rental.id %>,
        from <%= rental.start_date %>
        to <%= rental.end_date %>
        (<%= rental.status %>)

        <% if rental.status == 'PENDING' %>
        <%= button_to "Approve",
            approve_cat_rental_request_url(rental.id),
            class: 'button',
            method: 'post' %>

        <%= button_to "Deny",
            deny_cat_rental_request_url(rental.id),
            class: 'button',
            method: 'post' %>
        <% end %>
      </li>
      <br>
    <% end %>
  </ul>

  <%= link_to '< Back', root_url %> | <%= link_to 'Edit', edit_cat_url(@cat.id) %>

  <form action='<%= cat_url(@cat.id) %>' method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <%= button_to 'Delete (no backsies!)', cat_url(@cat.id), class: 'button', method: 'post' %>
  </form>

</body>
</html>
